.callpage-container {
  height:87vh;
  width: 100%;
  .video-container {
    height:85vh;
     width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
    position: absolute;
    z-index: -1;
    border: 1px solid red;
  }
}
